<%= render 'layouts/hero_section', title: "VOLUNTEER" %>

<div class="container">
  <%= render 'shared/create_button', model: Volunteer %>
</div>

<div class="volunteers container">
  <%@volunteers.each do |volunteer|%>
    <%= render 'volunteer_card', volunteer: volunteer %>
  <%end%>
</div>

<%=paginate @volunteers%>

<%= render 'pages/promote_project' %>