
<div class="form form-container">
  <h2>Enter your email address and password to log in as an administrator</h2>

  
  <% if flash[:alert].present? %>
    <div class="error-message"><%= flash[:alert] %></div>
  <% end %>
  
  <% if flash[:notice].present?%>
    <div class="error-message"><%= flash[:notice] %></div>
  <% end %>

  <%= form_with scope: :session, url: session_path, data: {turbo: false} do |f|%>
    <p><%=f.label "Enter admin email"%></p>
    <p><%=f.text_field :email %></p>

    <p><%=f.label "Enter admin password"%></p>
    <p><%=f.password_field :password %></p>

    <p><%=f.submit "Log in", class:"button_secondary"%></p>
  <%end%>
</div>


