<%if cause%>
  <%progress = progress_percentage(cause.total_donations_amount, cause.goal_amount)%>

  <div class="cause-lg">
    <div class="cause-lg__picture-wrap">
      <%= image_tag cause.cause_picture, class: "cause-lg__image"%>

      <div class="progress-bar-wrap">
        <div class="progress-bar">
          <div class="progress-value" style="width: <%= progress %>%;"></div>
          <div class="progress-number" style="margin-left: calc(<%= progress %>% - 17px);"><%=progress%>%</div>
        </div>
      </div>
    </div>

    <div class="cause-lg__details">
      <h3><%=cause.title%></h3>
      <p class="cause-lg__donates"><%= "$#{cause.total_donations_amount} donated of $#{cause.goal_amount}" %></p>
      <p class="mb"><%=cause.description.truncate(300)%></p>
      
      <div class="buttons-container">
        <%= button_to "DONATE NOW", new_cause_donation_path(cause), method: :get, class: "button_secondary" %>
        <%= button_to "READE MORE", cause_path(cause), method: :get, class: "button_primary" %>
      </div>

      <%= render 'shared/change_delete_buttons', record: cause %>
    </div>
  </div>
<%end%>