
<div class="container">
  <div class="appear-text">
    <%"to feed and educate".split("").each do |symbol|%>
      <div class="letter"><%=symbol%></div>
    <%end%>
  </div>


  <div class="container2">
    <div class="text">we need your support</div>
  </div>
  
  <div class="appear">
    Became the part to change the world
  </div>

  <div class="subtitle">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramb
  </div>
</div>

<section class="call-to-action">
  <div class="call-to-action__box" style="background-image: url('<%= asset_path('left-box-bg.jpg') %>');">
    <div class="call-to-action__icon"><i class="fa fa-coins icon"></i></div>
    <div class="call-to-action__content">
      <h3>DONATION</h3>
      <p class="font-16 mb">There are many variations of lorem passagei of Lorem Ipsum availabl</p>
      <%= button_to "DONATE NOW", causes_path, class:"button_transparent", method: "get" %>
    </div>
  </div>
  <div class="call-to-action__box" style="background-image: url('<%= asset_path('center-box-bg.jpg') %>'); ::after{background-color: rgba(255, 115, 55, 0.8)}">
    <div class="call-to-action__icon"><i class="fa-solid fa-user-group icon"></i></div>
    <div class="call-to-action__content">
      <h3>VOLUNTEER</h3>
      <p class="font-16 mb">Vivamus sed pretium elit, quis luctusurna Curabitur id tempus massa</p>
      <%= button_to "JOIN NOW", volunteers_path, class:"button_transparent", method: "get" %>
    </div>
  </div>
  <div class="call-to-action__box" style="background-image: url('<%= asset_path('right-box-bg.jpg') %>');">
    <div class="call-to-action__icon"><i class="fa-solid fa-hand-holding-heart icon"></i></div>
    <div class="call-to-action__content">
      <h3>FUNDRAISE</h3>
      <p class="font-16 mb">Curabitur elementum euismod mi Vivamus massa augue vio</p>
      <%= button_to "READER MORE", causes_path, class:"button_transparent", method: "get" %>
    </div>
  </div>
</section>

<section class="event-causes container">
  <div class="event-causes__events"></div>
  <div class="event-causes__featured-cause">
    <h2>
      FEATURED CAUSES
      <div class="decoration-double-line"></div>
    </h2>
    
    <%= render 'causes/cause_card_lg', cause: @feature_cause %>
  </div>
</section>

<div class="bg" style="background-color:#f6f4f2;">
  <section class="recent-causes container">
    <div class="sec-title">
        <h2 class="sec-title__heading">Recent Causes</h2>
        <p class="sec-title__text">Lorem ipsum is a dummy text it will use for subtitle here</p>
        <div class="decoration-circle-gray">
          <div class="decoration-point"></div>
        </div>
    </div>

    <div class="recent-causes__cards">
      <%@recent_causes.each do |cause|%>
        <%= render 'causes/cause_card_sm', cause: cause%>
      <%end%>
    </div>
  </section>
</div>

<div class="bg-image--fixed" style="background-image: url('<%= asset_path('bg-widget-01') %>');">
  <div class="promote-project">
    <div class="promote-project__container container">
        <h3 class="promote-project__title">Save Children From Hunger</h3>
        <div class="decoration-circle-colored center">
          <div class="decoration-point"></div>
        </div>
        <h2 class="promote-project__subtitle">BECAME A PART OF THE WORLD LOREM IPSUM</h2>
        <p class="promote-project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore. Amido ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.Lorem ipsum dolor sit amet, consectetur.</p>
        <%= button_to "DONATE NOW", causes_path, method: :get, class: "button_secondary center" %>
    </div>
  </div>
</div>

<section class="home_gallery">
  <div class="container">
    <div class="sec-title">
        <h2 class="sec-title__heading">Our gallery</h2>
        <p class="sec-title__text">Lorem ipsum is a dummy text it will use for subtitle here</p>
        <div class="decoration-circle-gray">
          <div class="decoration-point"></div>
        </div>
    </div>
  </div>
  <div class="gallery">
    <% @photos.each do |photo| %>
      <div class="gallery__image"><%=image_tag photo.photo%></div>
    <% end %>
  </div>
</section>

<section class="explore-our-gallery">
  <div class="explore-our-gallery__conrainer container">
    <div class="explore-our-gallery__cotent">
      <h3 class="explore-our-gallery__title">Here will be any kind lorem ipsum heading</h3>
      <p class="explore-our-gallery__subtitle">There are many variations of passages of Lorem Ipsum available, but the majority have lorem</p>
    </div>
    <div class="explore-our-gallery__button">
      <%=button_to "VIEW FULL GALLERY", photo_galleries_path, method: "get",class:"button_inverse"%>
    </div>
  </div>
</section>

<section class="our-missions container">
  <div class="sec-title">
      <h2 class="sec-title__heading">Our Mission</h2>
      <p class="sec-title__text">Lorem ipsum is a dummy text it will use for subtitle here</p>
      <div class="decoration-circle-gray">
        <div class="decoration-point"></div>
      </div>
  </div>

  <div class="missions">
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-book-open-reader"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Charity For Education</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-utensils"></i></div>
      <div class="mission__content">
        <h3 class="mission__title" >Feed For Hungry Child</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-hand-holding-heart"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Home For Homeless</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-bottle-water"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Bringing Clean Water</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-regular fa-money-bill-1"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Help Little Hands</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
    <div class="mission">
      <div class="mission__icon"><i class="fa-solid fa-people-roof"></i></div>
      <div class="mission__content">
        <h3 class="mission__title">Donate For Children</h3>
        <p class="mission__description">There are many variations of lorem passagei of Lorem Ipsum available but the majority have</p>
      </div>
    </div>
  </div>
</section>

<section class="fact-counter">
  <div class="fact-counter__container container">
    <div class="fact-counter__content">
      <div class="fact-counter__title-wrap">
        <h2 class="fact-counter__title">We are served since 35 years to helpless people with trust andwe are happy</h2>
        <%= button_to "BE A PART OF US", volunteers_path, method: "get", class:"button_inverse"%>
      </div>

      <div class="fact-counter__facts">
        <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-trophy"></i></div>
          <div class="fact__timer">365</div>
          <p class="fact__description">TOTAL AWARDS</p>
        </div>
          <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-user-group icon"></i></div>
          <div class="fact__timer">2200</div>
          <p class="fact__description">TOTAL AWARDS</p>
        </div>
        <div class="fact">
          <div class="fact__icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
          <div class="fact__timer">155</div>
          <p class="fact__description">TOTAL PROJECTS</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="meet-volunteer container">
  <div class="sec-title sec-title-left">
      <h2 class="sec-title__heading">Meet Our Volunteers</h2>
      <p class="sec-title__text">Lorem ipsum is a dummy text it will use for subtitle here</p>
      <div class="decoration-circle-gray">
        <div class="decoration-point"></div>
      </div>
  </div>

  <div class="meet-volunteer-swiper">
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <%@volunteers.each do |volunteer|%>
          <div class="swiper-slide"><%= render 'volunteers/volunteer_card', volunteer: volunteer %></div>
        <%end%>
      </div>
    </div>
  </div>
</section>


<div class="testimonials bg-image--fixed" style="background-image: url('<%= asset_path('testi-bg.jpg') %>');">
  <div class="testimonials-container container">
  <div class="sec-title">
      <h2 class="sec-title__heading">Testimonials</h2>
      <div class="decoration-circle-colored">
        <div class="decoration-point"></div>
      </div>
  </div>

    <div class="swiper-testimonials-container">
      
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Paul Merry</h3>
            <span class="testimonial__subtitle">Patient of Asthama</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial">
            <p class="testimonial__body">Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi scriptorem</p>
            <h3 class="testimonial__author">Jane Doe</h3>
            <span class="testimonial__subtitle">Patient of Flu</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
