<%= render 'layouts/hero_section', title: @post.title %>

<div class="post container">
  <div class="post__container">
    <%=image_tag @post.post_picture, class:"post__picture"%>
    <div class="post__details">
      <div class="date-box">
        <div class="date">
          <div class="date__day"><%=@post.created_at.strftime('%d')%></div>
          <div class="date__month"><%=@post.created_at.strftime('%b')%></div>
        </div>
      </div>

      <div class="post__content">
      <%= render 'shared/change_delete_buttons', record: @post %>  

        <%=@post.content%>

        Tags:
        <div class="post__tags">
          <% @post_tags.each_with_index do |tag, index| %>
            <%= link_to tag.name, tag_path(tag.name) %>
            <% if index < @post_tags.size - 1 %>
              ,
            <% end %>      
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/right_bar' %>
</div>