<footer>
  <div class="footer">
    <div class="footer__container container">
      <div class="footer__about">
        <div class="footer__logo"><%= image_tag "logo-white.png", class:"image"%></div>
        <p>Lorem ipsum dolor sit amet, eu me evert laboramus, iudico</p>
        <div class="footer__contacts">
          <p><i class="fa fa-map-marker"></i> 60 Grant Ave. Carteret NJ 0708</p>
          <p><i class="fa fa-phone"></i>(880)1723801729 </p>
          <p><i class="fa fa-regular fa-envelope"></i>example@gmail.com</p>
        </div>
        <div class="contacts footer__social">
          <%= link_to "https://www.facebook.com/" do %>
            <i class="fa-brands fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://x.com/" do %>
            <i class="fa-brands fa-twitter"></i>
          <% end %>
          <%= link_to "https://www.linkedin.com/" do %>
            <i class="fa-brands fa-linkedin-in"></i>
          <% end %>
        </div>
      </div>

      <div class="footer__pages">
        <h3 class="footer__title">Pages</h3>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About us", '/about' %></li>
          <li><%= link_to "Causes", causes_path %></li>
          <li><%= link_to "Our blog", posts_path %></li>
          <li><%= link_to "Our volunteers", volunteers_path %></li>
          <li><%= link_to "Our gallery", photo_galleries_path %></li>
          <li><%= link_to "Our contact", '/contact' %></li>
        </ul>
      </div>

      <div class="footer__news">
        <h3 class="footer__title">Latest News</h3>
        
        <% @recent_posts.each do |post| %>
          <div class="footer__post">
            <%=link_to post.title, post, class:"footer__post-title"%>
            <div class="footer__post-date"><%=post.created_at.strftime("%B %d, %Y")%></div>
          </div>
        <% end %>
      </div>

      <div class="footer__contact-us">
        <h3 class="footer__title">Contact Form</h3>
        <div class="form footer__form">
          <%= form_with url: contacts_path, method: :post, scope: :contact_form do |f| %>
            <%=f.text_field :name, placeholder: "Name"%>
            <%=f.text_field :email, placeholder: "Email"%>
            <%=f.text_area :message, placeholder: "Message"%>
            <%= button_tag "SEND", type:"submit", class:"button_secondary"%>  
          <%end%>
        </div>
      </div>
    </div>
  </div>
</footer>

